.amenity1 {
  background-image: url("http://testdeploy.thesaruni.com/gym.jpg");
  height: 88vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.amenity2 {
  /* color: white; */
  background-image: url("http://testdeploy.thesaruni.com/coutryard.jpg");
  height: 88vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.courtyardsmall {
  background-image: url("http://testdeploy.thesaruni.com/coutryard.jpg");
  height: 88vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gym {
  color: white;
  padding: 29px 27px 7px 7px;
  font-size: 20px;
  margin-left: 30px;
}
.courtyard {
  color: white;
  padding: 38px 27px 7px 7px;
  font-size: 20px;
  margin-left: 30px;
}
.pool {
  color: white;
  padding: 29px 27px 7px 7px;
  font-size: 20px;
  margin-left: 30px;
}

.pool1 {
  background-image: url("http://testdeploy.thesaruni.com/infinitypool1.jpg");
  height: 88vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pool2 {
  background-image: url("http://testdeploy.thesaruni.com/infinitypool2.jpg");
  height: 88vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pool3 {
  background-image: url("http://testdeploy.thesaruni.com/infinitypool3.jpg");
  height: 88vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
