.simp {
    color: white;
  }
  .sunr {
    background-image: url("http://testdeploy.thesaruni.com/wakeupright.jpg");
    height: 84vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  
  } 
  .sunl {
    background-image: url("http://testdeploy.thesaruni.com/wakeupleft.jpg");
    height: 84vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }
  .downr {
    background-image: url("http://testdeploy.thesaruni.com/sundownright.jpg");
    height: 84vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }
  .downl {
    background-image: url("http://testdeploy.thesaruni.com/sundownledt.jpg");
    height: 84vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }
  .lobby1 {
    background-image: url("http://testdeploy.thesaruni.com/lobby.jpg");
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }
  .loby2 {
    background-image: url("http://testdeploy.thesaruni.com/reception.jpg");
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }
  
  