.flexbox-item-availability1 {
  box-sizing: border-box;
  flex-grow: 1;
  width: 390px;
}
.flexbox-item-availability2 {
  box-sizing: border-box;
  flex-grow: 1;
  width: 390px;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: var( --mt-2);
}
.one {
  height: 300px;
  padding: 22px 10px 2px  22px;
  box-sizing: border-box;
  border-right: 1px solid var(--textColor2);
  border-bottom: 1px solid var(--textColor2);
}
.two {
  box-sizing: border-box;
  height: 300px;
  padding: 22px 10px 2px  22px;
  border-bottom: 1px solid var(--textColor2);
}
.three {
  box-sizing: border-box;
  height: 300px;
  padding: 22px 10px 2px  22px;
  border-right: 1px solid var(--textColor2);
}
.four {
  height: 300px;
  padding: 22px 10px 2px  22px;
  box-sizing: border-box;
}
.side-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.number{
  display: inline;
  color: var(--gold-color);
  font-size: var(--number-font);
}
.apartment{
  color: var(--textColor2);
}
.room-description{
  color: var(--textColor2);

}
@media only screen and (max-width: 600px){
  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;

  }
  .four{
    border-top: 1px solid var(--textColor2);
  }
 
}
.map{
  width: 100%;
  height: 100%;
  border-top: 3px solid var(--gold-color);
}
.map-section{
  padding: 0 10px 10px 10px;
}
#head{
  padding: 20px 10px 0px 10px;
}