.simp {
  color: white;
  padding-top: 26px;
  text-align: right;
  font-size: 18px;
  padding-right: 20px;
}
.simper {
  color: black;
  padding-top: 26px;
  text-align: right;
  font-size: 18px;
  padding-right: 20px;
}
.bedroomr {
  background-image: url("http://testdeploy.thesaruni.com/bedright.jpg");
  height: 84vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

}
.bedrooml {
  background-image: url("http://testdeploy.thesaruni.com/bedleft.jpg");
  height: 84vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.livingr {
  background-image: url("http://testdeploy.thesaruni.com/livingright.jpg");
  height: 84vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.livingl {
  background-image: url("http://testdeploy.thesaruni.com/livingleft.jpg");
  height: 84vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.kitchenl {
  background-image: url("http://www.thesaruni.com/TheSaruniImages/kitchenleft.jpg");
  height: 84vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.kitchenr {
  background-image: url("http://www.thesaruni.com/TheSaruniImages/kitchenright.jpg");
  height: 84vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.bathroomr {
  background-image: url(/src/Components/Residence/photo/bathroom2.jpg);
  height: 84vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.bathrooml {
  background-image: url(/src/Components/Residence/photo/bathroom1.jpg);
  height: 84vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.diningr {
  background-image: url(/src/Components/Residence/photo/dining1.jpg);
  height: 84vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.diningl {
  background-image: url(http://testdeploy.thesaruni.com/residenceluxury.jpg);
  height: 84vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}