.grid-ccontainer-element {
  display: grid;
  margin: 0 0 0 0;
  grid-gap: 0px;
  grid-template-columns: 4fr 7fr;
}
.grid-child-element.green.at {
  object-fit: cover;
}
.childimage.glance {
  object-fit: cover;
}
.grid-child-element.purple.at {
  background-color: white;
}
.glance1 {
  color: gray;
  height: 150px;
  font-size: 250%;
  background: rgb(59, 57, 57);
  padding: 5px;
  text-align: center;
}
.glance {
  display: flex;
  height: 300px;
  /* margin-top: 27px; */
  /* background-color: purple; */
}
.glance.two {
  /* background-color: pink; */
  padding: 10px 10px 10px;
  border-bottom: 2px solid grey;
}
.glance.three {
  /* background-color: aqua; */
  /* margin-top: -4px; */
  height: 289px;
  border-bottom: 2px solid grey;
}
.glance.four {
  /* background-color: peru; */

  padding: 5px 10px 10px 7px;
  margin-top: -1px;
}

@font-face {
  font-family: "luxury";
  src: url(/din/fonts/FF\ DIN\ Pro\ Regular.otf);
}
.topper {
  font-family: "luxury";
}
.downarrow {
  text-decoration: none;
  color: grey;
}
.topper.r {
  margin-top: 40px;
}
.toper {
  font-family: "luxury";
}
.amenn {
  /* background-color: peru; */
  font-family: "luxury";
  color: grey;
  margin-top: -17px;
}
.logosection {
  width: 250px;
  margin-left: 20px;
  /* background-color: palegreen; */
}
.logosection.well {
  width: 189px;
  margin-left: 20px;
  /* background-color: palegreen; */
}

.logosection.rej {
  width: 189px;
  margin-left: 20px;
  /* background-color: palegreen; */
}
.list-amenities ul {
  margin-left: 35px;
  text-align: left;
  height: 190px;
  padding: 20px 20px 7px 7px;
  /* background-color: pink; */
}
.list-amenities.three {
  margin-top: 5%;
  text-align: left;
  height: 130px;
  /* margin-left: -4% auto; */
  /* background-color: pink; */
}
.list-amenities.four {
  margin-top: 5%;
  text-align: left;
  height: 190px;
  /* background-color: pink; */
}
.list-amenities.two {
  /* background-color: pink; */
  margin-top: 3%;
  text-align: left;
  height: 220px;
}
.list-amenities ul li {
  margin-left: 30px;
  font-family: "luxury";
  color: gray;
}
.residence-home-logo-greyy {
  /* background-color: pink; */
  margin-top: 2px auto;
  height: 148px;
  margin-bottom: -2px;
}
.flexbox-container-ataglance {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.flexbox-item-ataglance1 {
  flex-grow: 1;
  height: 98vh auto;
  width: 380px;
}
.flexbox-item-ataglance2 {
  flex-grow: 1;
  width: 700px;
}
.amennn{
  color: grey;
  margin-top: -17px;
  margin-left: -19px;
}
