.grid-coontainer-element {
  display: grid;
  grid-template-columns: 4fr 15fr;
  width: 100%;
}

.childimage.homeneigh {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-child-element.purple {
  background-color: #7c7774;
  text-align: center;
}
.content {
  font-size: 200%;
  height: 290px;
  margin-top: 290px;
} 

.button-46 {
  align-items: center;
  background-color: rgba(240, 240, 240, 0.26);
  border: 1px solid #dfdfdf;
  /* border-radius: 16px; */
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  font-size: 28px;
  justify-content: center;
  line-height: 28px;
  max-width: 100%;
  padding: 14px 22px;
  text-decoration: none;
  transition: all 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 40%;
}

.button-46:active,
.button-46:hover {
  outline: 0;
}

.button-46:hover {
  background-color: #ffffff;
  border-color: rgba(0, 0, 0, 0.19);
}

@media (min-width: 768px) {
  .button-46 {
    font-size: 20px;
    min-width: 200px;
    padding: 14px 16px;
  }
}
.the-neighboorhood {
  color: gray;
  height: 290px auto;
  background: rgb(62, 61, 61);
  padding: 5px 5px 1px 5px;
  text-align: left;
}
h6.gold-secttion {
  font-size: 10px;
  margin-top: 30px;
}
h1.gold-secttionnh {
  text-align: center;
  font-size: 28px;
  margin-bottom: 30px;
}
.residence-neigh-logo-grey {
  margin-top: -12px;
  height: 288px;
  margin-bottom: -36px;
}
.gold-secttion.one {
  margin-top: -9%;
}
.contenting {
  margin-top: 20px;
  height: 90px;
  text-align: left;
  margin-left: 30px;
}
.excluder {
  color: gray;
  font-family: "luxury";
  font-size: 34px;
}
.coddler {
  font-family: "luxury";
  text-align: left;
  color: grey;
  font-size: 20px;
}
.coddler.bot {
  font-family: "luxury";
  text-align: left;
  color: grey;
  margin-top: 7px;
}
.coddle {
  height: 200px;
  padding: 14px 20px 7px 27px;
}

/* neigh bt sect */
.coddlernature {
  text-align: left;
  color: grey;
  font-size: 20px;
  padding: 25px 5px 5px 5px;
}
.coddlernature.botn {
  text-align: left;
  color: grey;
  margin-top: 10px;
  padding: 35px 5px 5px 5px;
}
.coddlenature {
  height: 210px;
  padding: 14px 20px 7px 27px;
}

.downarrow.jir {
  font-family: "luxury";
  font-size: 50%;
  cursor: pointer;
}
/* @media all and (max-width: 700px) {
  .grid-coontainer-element {
    display: block;
  }
  .downarrow.jir {
    font-family: "luxury";
    font-size: 50%;
    cursor: pointer;
  }
  .childimage.homeneigh {
    object-fit: cover;
  }
  .coddler {
    font-family: "luxury";
    text-align: left;
    color: grey;
    font-size: 121%;
  }
  .coddler.bot {
    font-family: "luxury";
  
    text-align: left;
    color: grey;
    font-size: 120%;
    margin-top: 5%;
  }
  .coddle {

    margin-top: -17%;
    height: 200px;
    padding: 28px 20px 7px 27px;
  }
} */


/* CLEAN CSS */
.flexbox-container-neighborhood-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.flexbox-item-neighborhood-home-1 {
  /* background-color: pink; */
  position: relative;
  flex-grow: 1;
  height: 100%;
  width: 240px;
  padding: 0 10px 0 10px;
}
.flexbox-item-neighborhood-home-2 {
  flex-grow: 1;
  width: 850px;
}
.left-body-heading{
  /* background-color: pink; */
  padding: 15px 0px 7px 7px;
}
.exclude {
  color: grey;
  margin-top: 10px;
  font-size: 34px;
}
.left-body-content{
  box-sizing: border-box;
  /* background-color: pink; */
  padding: 10px 10px 10px;
  height: 100%;
}
.first-paragraph{
  color: grey;
  font-size: 17px;
  padding: 10px 10px 10px 10px;
  letter-spacing: 0.03rem;
  line-height: 19px;
}
.second-paragraph{
  color: grey;
  font-size: 17px;
  padding: 5px 10px 10px 10px;
  letter-spacing: 0.03rem;
  line-height: 19px;
}
.bottom-heading{
  font-size: 18px;
  color: grey;
  padding: 10px 10px 10px 10px;
  letter-spacing: 0.015rem;
}
.place{
  color: grey;
  letter-spacing: 0.03rem;
  line-height: 18px;
}
.jkia{
  color: grey;
  letter-spacing: 0.03rem;
  line-height: 19px;
}