@font-face {
  font-family: "Paragone";
  src: url(/paragone-luxury-serif-font/Paragone/Paragone.ttf);
}
@font-face {
  font-family: "BodyParagone";
  src: url(/paragone-luxury-serif-font/Paragone/Paragone.otf);
}
@font-face {
  font-family: "luxury";
  src: url(/din/fonts/FF\ DIN\ Pro\ Regular.otf);
}
.navbary-logo {
  height: 67px;
  border-radius: 90px;
  margin-bottom: 10px;
}
:root {
  --mainColor: transparent;
  --mainColorLight: #3b5249;
  --secondarColor: peachpuff;
  --textColor: #eee;
}
.headerr {
  display: flex;
  justify-content: space-between;
  height: 70px;
  padding: 0 2rem;
  
  padding: 10px;
  position: relative;
}
.mtoto nav {
 
  height: 70px;
}
.touch {
  color: rgb(104, 99, 99);
  font-family: "luxury";
}
.barss {
  position: absolute;
  top: 19px;
  right: 29px;
  transform: scale(2.9, 1.5);
  font-size: 18px;
  margin-top: 8px;
  color: black;
 
}
.menu {
  position: absolute;
  top: 39px;
  right: 98px;
  color: black;
  
}
.menutext {
  font-size: 17px;
  color: rgb(104, 99, 99);
  font-family: "luxury";
}
.th {
  position: absolute;
  top: 10px;
  left: 99px;
  margin-top: 29px;
  font-size: 25px;
  color: #7b7471;
  font-family: "luxury";
}

nav a {
  margin: 0 2rem;
  color: var(--textColor);
  text-decoration: none;
}
nav a:hover {
  color: goldenrod;
}
header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

/* @media all and (max-width: 500px) {
  .headerr {
    background-color: white;
    height: 50px;

  }
  .th {
    position: absolute;
    top: 10px;
    left: 95px;
    margin-top: 29px;
    font-size: 120%;
    font-family: "luxury";
    color: #7b7471;
  }
  .menutext {
    visibility: hidden;
  }
  .barss {
    position: absolute;
    top: 30px;
    right: 28px;
    transform: scale(2.9, 1.5);
    font-size: 18px;
    margin-top: 8px;
    color: #7b7471;
  }
  .navbary-logo {
    height: 60px;
    border-radius: 90px;
    margin-bottom: 10px;
  }
} */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
  .th {
    position: absolute;
    top: 10px;
    left: 95px;
    margin-top: 29px;
    font-size: 120%;
    font-family: "luxury";
    color: #7b7471;
  }
  .menutext {
    visibility: hidden;
  }
  .barss {
    position: absolute;
    top: 30px;
    right: 28px;
    transform: scale(2.9, 1.5);
    font-size: 18px;
    margin-top: 8px;
    color: #7b7471;
  }
  .navbary-logo {
    height: 60px;
    border-radius: 90px;
    margin-bottom: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
  .th {
    position: absolute;
    top: 10px;
    left: 95px;
    margin-top: 29px;
    font-size: 120%;
    font-family: "luxury";
    color: #7b7471;
  }
  .menutext {
    visibility: hidden;
  }
  .barss {
    position: absolute;
    top: 30px;
    right: 28px;
    transform: scale(2.9, 1.5);
    font-size: 18px;
    margin-top: 8px;
    color: #7b7471;
  }
  .navbary-logo {
    height: 60px;
    border-radius: 90px;
    margin-bottom: 10px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .headerr {
    /* background-color: pink; */
    cursor: pointer;
    height: 50px;
  }
  .th {
    position: absolute;
    top: 10px;
    left: 95px;
    margin-top: 29px;
    font-size: 120%;
    font-family: "luxury";
    color: #7b7471;
  }
  .menutext {
    color: rgb(109, 105, 105);
  }
  .barss {
    position: absolute;
    top: 30px;
    right: 28px;
    transform: scale(2.9, 1.5);
    font-size: 18px;
    margin-top: 8px;
    color: #7b7471;
  }
  .navbary-logo {
    height: 60px;
    border-radius: 90px;
    margin-bottom: 10px;
  } 
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .headerr {
    cursor: pointer;
    height: 50px;
    margin:  0 0  0 0;
  }
  .th {
    position: absolute;
    top: 10px;
    left: 95px;
    margin-top: 29px;
    font-size: 140%;
    font-family: "luxury";
    color: #7b7471;
  }
  .menutext {
   
    visibility: var(--mainColor);
  }
  .barss {
    position: absolute;
    top: 30px;
    right: 28px;
    transform: scale(2.9, 1.5);
    font-size: 18px;
    margin-top: 8px;
    color: #7b7471;
  }
  .navbary-logo {
    height: 60px;
    border-radius: 90px;
    margin-bottom: 10px;
  }
}
