/* GENERAL CSS */
.heading-area{
  background-color: goldenrod;
  text-align: center;
  box-sizing: border-box;
  max-height: 120px;
}

.heading-area-neighborhood{
  background-color: goldenrod;
  text-align: center;
  box-sizing: border-box;
  max-height: 120px;
}

.grey-logo{
  height: 140px;
  /* width: 160px; */
}

.amenities-logo{
  text-align: center;
  background: rgb(62, 61, 61);
  padding-top: 20px;
  padding-bottom: 20px;
  /* height: 120px; */ 
}
.saruni-logo {
  height: 90px;
}

.page-title{
  padding-top: 20px;
  border-bottom: 3px solid goldenrod;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
}
.middle-body{
 margin-top: 30px;
 padding-left: 20px;
 padding-bottom: 20px;
}
.care {
  color: grey;
  font-size: 28px;
  margin-top: 10px;
}
h1.page-type{
  color: grey;
  font-size: 30px;
}
@media only screen and (min-width: 768px) {

  .middle-body{
    padding-bottom: 20px;
  }
}
